<header>
  <span class = 'head-span'>
      Hi <%= @user.username %>!
    <%= form_tag('/sessions', method: 'delete' ) do %>
      <%= submit_tag "logout", :class => "btn btn-block btn-lg btn-primary", :id => 'logout-button', :name => "Log Out"%>
    <% end %>
  </span>
  <span class = 'img-span'>
    <img src="logo3.png" alt="" />
  </span>
</header>



<div>
  <h3 id="top-text">Your Watchlist</h3>
</div>



<input id='movie_search' type="text" placeholder='...movie title' class='form-control'>
<div id='movie-display'></div>


  <% @user.watch_list_entries.each do |entries| %>
    <div>
      <span>
          <%= entries.movie.title %>
      </span>
      <span>
          <form action="/users/wish/<%= entries.id %>" method="post">
            <%= token_tag %>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Remove" class="btn btn-block btn-lg btn-primary">
          </form>
      </span>
    </div>
  <% end %>




<script id='movie-template' type='text/template' charset="utf-8">
  <h2 class='title'>
    <%%= title %>
  </h2>
  <h4 class='meta-info'>
    <%%= director %> (<%%= released %>)
  </h4>
  <p class='plot'>
    <%%= plot %>
  </p>

  <img src='<%%= poster %>' class="img-rounded img-responsive">

  <form action="/users/wish" method="post">
    <%= token_tag %>
    <input type="hidden" name="movie_id" value="<%%= id %>">
    <input type="submit" id = "wishlist-submit" value="Add To Watch List" class="btn btn-block btn-lg btn-primary">
  </form>
</script>
